.App {
  text-align: center;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.mt-10 {
  margin-top: 10px !important;
}
.css-3adcp6-MuiSvgIcon-root {
  color: rgb(0, 205, 171) !important;
}
