.App {
  text-align: center;
}
.hide {
  visibility: hidden;
}
.show {
  visibility: visible;
}
.mt-10 {
  margin-top: 10px !important;
}
.green {
  color: rgb(0, 205, 171) !important;
}
.orange {
  color: #ff5733;
}
.pink {
  color: lightpink;
}

.text-left {
  text-align: left;
}
.margin-auto {
  margin: 20px auto;
  width: 1200px;
}
.mb-20 {
  margin-bottom: 20px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.bordered {
  border: 1px solid #aeb6bf;
  border-radius: 2px;
}
.bg-white {
  background-color: lightgoldenrodyellow !important;
}
